<div class="relative w-full h-screen overflow-hidden">
  <div
    class="absolute inset-0 bg-[url('https://res.cloudinary.com/dz2df15nx/image/upload/v1742938237/1a868489-9edb-4eb4-971a-90f6a44bcff7.png')] bg-cover bg-center animate-zoom"
  >
  </div>

  <div
    class="relative z-10 flex flex-col justify-center items-center h-full text-center"
  >
    <h1 class="font-cormorantGaramond text-8xl text-onix">MOON</h1>
    <h2 class="font-cormorantGaramond text-4xl italic text-onix">
      Tienda Holística
    </h2>
  </div>
</div>
