<footer class="bg-gray-800 mx-auto text-center text-aura py-6 mt-10">
  <div class="flex fle-row mx-20 justify-between">
    <div class="flex flex-col items-center">
      <h2>© 2025 Copyright: Moon Tienda Holística</h2>
      <h3>Todos los derechos reservados</h3>
    </div>
    <div class="flex flex-row gap-6 items-center justify-center">
      <a
        href="https://www.instagram.com/moon.tiendaholistica/?utm_source=ig_web_button_share_sheet"
        target="_blank"
        ><img
          src="./instagram-icon-aura.svg"
          alt=""
          height="30px"
          width="30px"
        /></a
      >
      <img src="./whatsapp-icon-aura.svg" alt="" height="30px" width="30px" />
      <img src="./gmail-icon-aura.svg" alt="" height="30px" width="30px" />
    </div>
  </div>
</footer>
