<footer
  class="flex flex-row bottom-0 bg-gray-800 w-screen h-20 text-center justify-between items-center text-white py-5 mt-10"
>
  <div class="flex flex-col mx-20">
    <h2 class="font-poppins text-aura">© 2025 Copyright: Moon Page</h2>
    <h3 class="font-poppins text-aura">Todos los derechos reservados</h3>
  </div>
  <div class="flex flex-row gap-x-8 items-center mx-20">
    <a href="/"
      ><img
        src="gmail-icon-aura.svg"
        alt="Mail de Moon"
        height="35"
        width="35"
        loading="lazy"
      /></a
    >
    <a href="/"
      ><img
        src="instagram-icon-aura.svg"
        alt="Instagram de Moon"
        height="35"
        width="35"
        loading="lazy"
      /></a
    >
    <a href="/"
      ><img
        src="whatsapp-icon-aura.svg"
        alt="Whatsapp de Moon"
        height="35"
        width="35"
        loading="lazy"
      /></a
    >
  </div>
</footer>
