---
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Moon Page</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles/global.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <main class="flex flex-col content-center justify-center items-center">
      <slot />
    </main>
    <ContactForm />
    <Footer />
  </body>
</html>
